<mat-card *ngIf="data">
  <div class="cards">

    <div *ngFor="let item of data.list">
      <mat-card class="card">
        <mat-card-header>

          <mat-card-title>{{item.dt*1000 | date: 'medium'}} </mat-card-title>
          <mat-card-subtitle>
            <img src='https://openweathermap.org/img/wn/{{item.weather[0].icon}}@2x.png' alt="{{item.weather[0].icon}}">

          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Temperature: {{item.main.temp -273..15}}</p>
          <p>Fells like: {{item.main.feels_like -273..15}}</p>
          <p>Weather: {{item.weather[0].main}}</p>


        </mat-card-content>

      </mat-card>
    </div>
  </div>


  <mat-tab-group>
    <mat-tab label="Now">
      <app-line-chart [data]="temperature.slice(0,10)" [labels]="dateLabels.slice(0,10)" [label]="'Temperature, °C'">
      </app-line-chart>

    </mat-tab>
    <mat-tab label="Weather for 5 days">
      <app-line-chart [data]="temperature.slice(10,20)" [labels]="dateLabels.slice(10,20)" [label]="'Temperature, °C'">
      </app-line-chart>

    </mat-tab>
    <mat-tab label="Third">
      <app-line-chart [data]="temperature.slice(20,30)" [labels]="dateLabels.slice(20,30)" [label]="'Temperature, °C'">
      </app-line-chart>

    </mat-tab>
    <mat-tab label="Third">
      <app-line-chart [data]="temperature.slice(30)" [labels]="dateLabels.slice(30)" [label]="'Temperature, °C'">
      </app-line-chart>

    </mat-tab>
  </mat-tab-group>

</mat-card>